In [1]:
# setup
import os
import sys

# para importar mÃ³dulos en '../../tools'
module_path = os.path.abspath(os.path.join('../../tools'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import glob
import arrow

import analytics_tools

In [2]:
def read_files_to_df(directory, start_date=None):
    """Lee CSVs de misma estructura en un directorio a un solo DataFrame."""
    
    start_date = start_date or arrow.now().shift(months=-3).format("YYYY-MM-DD")
    file_pattern = os.path.join(directory, "*.csv") 
    filtered_files = [
        file for file in glob.glob(file_pattern) 
        if arrow.get(file.split("_")[1].split(".")[0]) > arrow.get(start_date)
    ]

    dfs = [pd.read_csv(file, encoding="utf8", parse_dates=True)
           for file in filtered_files]
        
    return pd.concat(dfs, axis=0)

In [8]:
df_analytics = read_files_to_df(analytics_tools.DIR_DATA_SDT, "2018-12-20")

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [10]:
df_analytics

,api_data,host,id,ip_address,querystring,referer,request_method,request_time,start_time,status_code,token,uri,user_agent,x_source
0,series-tiempo-prod,apis.datos.gob.ar,11142895,168.101.25.104,ids=143.3_NO_PR_2004_A_28&limit=1000&sort=desc,NaN,GET,0.209,2019-02-25 03:00:02+00:00,200,NaN,/series/api/series/,Python-urllib/2.7,NaN
1,series-tiempo-prod,apis.datos.gob.ar,11142894,168.101.25.104,ids=143.3_NO_PR_2004_A_31&limit=1000&sort=desc,NaN,GET,0.205,2019-02-25 03:00:02+00:00,200,NaN,/series/api/series/,Python-urllib/2.7,NaN
2,series-tiempo-prod,apis.datos.gob.ar,11142893,168.101.25.104,ids=3.2_DGCP_D_2004_T_30&limit=1000&sort=desc,NaN,GET,0.187,2019-02-25 03:00:02+00:00,200,NaN,/series/api/series/,Python-urllib/2.7,NaN
3,series-tiempo-prod,apis.datos.gob.ar,11142892,168.101.25.104,ids=3.2_OGP_D_2004_T_17&limit=1000&sort=desc,NaN,GET,0.178,2019-02-25 03:00:02+00:00,200,NaN,/series/api/series/,Python-urllib/2.7,NaN
4,series-tiempo-prod,apis.datos.gob.ar,11142891,168.101.25.104,ids=143.3_ICE_SER_VM_2004_A_34&limit=1000&sort...,NaN,GET,0.199,2019-02-25 03:00:02+00:00,200,NaN,/series/api/series/,Python-urllib/2.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15968,series-tiempo-prod,apis.datos.gob.ar,11224079,186.182.235.50,ids=89.2_TS_INTE_PM_0_D_16&limit=1000&sort=desc,NaN,GET,0.003,2019-03-01 02:59:42+00:00,200,NaN,/series/api/series/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,NaN
15969,series-tiempo-prod,apis.datos.gob.ar,11224078,186.182.235.50,ids=45.2_ECTDT_0_T_33&limit=1000&sort=desc,NaN,GET,0.002,2019-03-01 02:59:42+00:00,200,NaN,/series/api/series/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,NaN
15970,series-tiempo-prod,apis.datos.gob.ar,11224077,186.182.235.50,ids=143.3_ICE_SER_VM_2004_A_34&limit=1000&sort...,NaN,GET,0.002,2019-03-01 02:59:42+00:00,200,NaN,/series/api/series/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,NaN
15971,series-tiempo-prod,apis.datos.gob.ar,11224076,186.182.235.50,ids=74.3_ISC_0_M_19&limit=1000&sort=desc,NaN,GET,0.002,2019-03-01 02:59:42+00:00,200,NaN,/series/api/series/,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,NaN
15972,series-tiempo-prod,apis.datos.gob.ar,11224086,190.210.119.111,ids=103.1_I2N_2016_M_15,NaN,HEAD,0.002,2019-03-01 02:59:59+00:00,200,NaN,/series/api/series/,Zabbix,NaN

In [21]:
s = pd.to_datetime(df_analytics.start_time).apply(lambda x: x.strftime('%Y-%m-%d'))

In [23]:
df_analytics[s == "2018-12-21"].groupby("ip_address").count().sort_values("id", ascending=False)

,api_data,host,id,querystring,referer,request_method,request_time,start_time,status_code,token,uri,user_agent,x_source
ip_address,,,,,,,,,,,,,
190.16.55.43,65056,65056,65056,65043,0,65056,65056,65056,65056,0,65056,65056,47
190.210.119.109,20834,20834,20834,20810,0,20834,20834,20834,20834,0,20834,20834,144
66.249.92.49,4322,4322,4322,4322,0,4322,4322,4322,4322,0,4322,4322,0
190.246.123.181,1911,1911,1911,1911,0,1911,1911,1911,1911,0,1911,1911,29
190.210.119.111,1230,1230,1230,1230,0,1230,1230,1230,1230,0,1230,1230,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108.41.46.239,1,1,1,1,0,1,1,1,1,0,1,1,0
181.228.61.82,1,1,1,1,0,1,1,1,1,0,1,1,0
192.155.109.5,1,1,1,1,0,1,1,1,1,0,1,1,0
66.249.84.244,1,1,1,1,0,1,1,1,1,0,1,1,0
100.25.48.115,1,1,1,1,0,1,1,1,1,0,1,1,0

In [16]:
df_analytics.groupby("referer").count()[["ip_address"]].sort_values("ip_address", ascending=False).head(30)

                                                    ip_address
referer
https://www.minhacienda.gob.ar/series-tiempo-ar...       34089
https://datos.gob.ar/series/api                          18542
http://localhost:3000/                                    2134
http://datos.salud.gob.ar/series/api                      2099
https://www.minhacienda.gob.ar/datos/                      673
http://localhost/dataset/federado-balance-pagos...         668
https://datos.agroindustria.gob.ar/series/api              638
https://datos.gob.ar/series/api/series/?ids=148...         635
https://datos.agroindustria.gob.ar/series/api/s...         503
https://www.minhacienda.gob.ar/                            374
https://datosgobar.github.io/series-tiempo-ar-c...         348
https://datos.agroindustria.gob.ar/series/api/s...         329
http://localhost/comex/series.php                          322
https://datos.agroindustria.gob.ar/series/api/s...         321
https://datos.gob.ar/series/api/search/?q=ipc              309
https://datos.gob.ar/series/api/search/?=0&limi...         301
https://datosgobar.github.io/series-tiempo-ar-e...         300
https://datosgobar.github.io/series-tiempo-ar-v...         286
https://datosgobar.github.io/series-tiempo-ar-e...         261
https://datos.gob.ar/series/api/search/?offset=...         231
https://datos.gob.ar/series/api/search/?q=                 221
https://datosgobar.github.io/series-tiempo-ar-e...         214
https://datosgobar.github.io/series-tiempo-ar-e...         209
https://datos.agroindustria.gob.ar/series/api/s...         176
https://datos.gob.ar/series/api/series/?ids=148...         169
https://datos.gob.ar/series/api/search/?offset=...         164
https://datos.gob.ar/series/api/search/?q=IPC              130
https://www.datos.gob.ar/series/api                        127
https://datos.gob.ar/series/api/search/?offset=...         126
https://datos.gob.ar/series/api/search/?q=cemen...         123

In [26]:
df_analytics[df_analytics.referer == "https://oceba.gba.gov.ar/tarifa_social/solicitar"].uri.unique()

array(['/georef/api/localidades'], dtype=object)

In [27]:
df_analytics[df_analytics.referer == "https://mi.argentina.gob.ar/salud/centros-de-salud"].uri.unique()

array(['/georef/api/departamentos'], dtype=object)